project/*
.idea/*
target/*
test_run_dir/*
fpga/chisel_output/*
fpga/*/db/*
fpga/*/output_files/*
fpga/*/incremental_db/*
fpga/*/.qsys_edit/
fpga/*/soc_system/
fpga/*/soc_system.sopcinfo
*.csv
*.txt
*.swp
*.bak
fpga/*/hps_isw_handoff/*
*.qws
hps/gol
hps/main.o
fpga/arria10/qdb/*
